.dashboard {
  position: relative;
  top: 80px;

  .avatar {
    overflow: hidden;
  }

  .intro {
    overflow: hidden;

    &-name {
      display: flex;
    }
  }

  .social-media {
    margin-top: auto;
  }
}