.mikoshi-dark-mode-switch {
  &.mikoshi-switch {
    width: 60px;
    height: 36px;
    padding: 7px;

    .MuiSwitch-switchBase {
      @include rules('m-color-grey-1', 'm-bg-white');
      margin: 1px;
      padding: 4px;
      transform: translateX(0);

      &.Mui-checked {
        @include rules('m-color-white', 'm-bg-grey-1');
        transform: translateX(22px);
      }
    }

    .MuiSwitch-track {
      @include rules('m-bg-grey-1');

      body.dark &,
      .app[data-theme='dark'] & {
        @include rules('m-bg-lgrey-1');
      }
    }
  }
}
