@import '@mikoshi/styles/style';
@import '@mikoshi/styles/mixins';
@import '@mikoshi/components/style';
@import '../components/ProjectCard/style';
@import '../animation/photo-sketch';
@import '../animation/typewriter-text';

html,
body,
#__next {
  @include rules('m-height-100', 'm-width-100');
  margin: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: unset;
  }
}

.app {
  @include rules('m-flex', 'm-flex-column', 'm-bg-lgrey-3', 'm-height-100', 'm-width-100');

  &[data-theme='dark'] {
    @include rules('m-bg-night-1');
  }

  .outlet {
    @include rules('m-height-100', 'm-width-100');
  }
}

.dashboard {
  @include rules('m-flex', 'm-height-100', 'm-width-100');
  min-width: fit-content;

  .avatar {
    .sketch-photo {
      @include rules('m-svg-fill-grey-1');

      body.dark &,
      .app[data-theme='dark'] & {
        @include rules('m-svg-fill-grey-2');
      }
    }
  }

  .intro {
    &-name {
      @include rules('m-flex');
    }
  }
}

.projects {
  @include rules('m-width-100', 'm-height-100');

  .cards {
    @include rules('m-flex', 'm-flex-align-center', 'm-flex-justify-center', 'm-flex-align-content-center');
  }

  .skills {
    @include rules('m-flex', 'm-flex-align-center', 'm-flex-justify-center');
  }
}
