$blue-1: #4182fd;
$blue-2: #6297f8;
$blue-3: #3362b9;
$blue-4: #a1e7ff;
$blue-5: #0271bc;

$night-1: #637582;
$night-2: #33424f;
$night-3: #859ca8;

$orange-1: #f06034;
$orange-2: #cc3405;
$orange-3: #ffb9a6;

$green-1: #359e35;
$green-2: #1f4f18;
$green-3: #407237;
$green-4: #2cce4e;
$green-5: #c2efc7;

$teal-1: #099;
$teal-2: #005957;
$teal-3: #00d3cd;
$teal-4: #9aefea;

$lilac-1: #8d6ccf;
$lilac-2: #4c318c;
$lilac-3: #e8dffb;
$lilac-4: #c3aaee;

$yellow-1: #fed200;
$yellow-2: #a57602;
$yellow-3: #ffe775;
$yellow-4: #fff3c0;

$pink-1: #e82896;
$pink-2: #8e1b68;
$pink-3: #fe81ce;
$pink-4: #ffccf3;

$brown-1: #a05a44;
$brown-2: #5e3225;
$brown-3: #f2dcd7;

$indigo-1: #3c54ba;
$indigo-2: #0d246d;
$indigo-3: #6493f2;
$indigo-4: #b0ceff;

$blueberry-1: #bdd1f8;
$blueberry-2: #94B0E7;
$blueberry-3: #507CB9;
$blueberry-4: #36629F;
$blueberry-5: #244A81;
$blueberry-6: #263762;
$blueberry-7: #1B2847;

$danger: #d1625e;
$positive: #86c43b;
$neutral: #efc059;

$grey-1: #414141;
$grey-2: #272425;
$grey-3: #676767;
$grey-4: #767676;
$grey-5: #919395;
$grey-6: #babcbe;
$grey-7: #cdcdcd;

$lgrey-1: #e2e2e2;
$lgrey-2: #dbdbdb;
$lgrey-3: #f0f2f4;
$lgrey-4: #f5f6f7;
$lgrey-5: #f2f2f2;

$white: #fff;
$black: #000;

// Frost status colors
$active-1: #00aa3e;
$active-2: #006823;
$active-3: #deffb3;

$minor-1: #ddd326;
$minor-2: #a89b00;
$minor-3: #fff6b3;

$major-1: #ef8e00;
$major-2: #ba6a00;
$major-3: #fdc;

$critical-1: #e52c2c;
$critical-2: #a31414;
$critical-3: #ffbdbd;

$warn-1: #7d85b2;
$warn-2: #36477f;
$warn-3: #cacfe5;

// box-shadow colors
$shadow: transparentize($color: $black, $amount: .68);