// Global class map, used to facilitate the rules mixin for consuming apps
$class-map: ();

// box-shadow offset and radius series to represent different level
$box-shadow-levels: (
  (1, 2px),
  (2, 4px),
  (3, 8px),
  (4, 16px),
  (5, 24px),
  (6, 32px)
);

// --- General Colors in Array Format --
$colors: (
  blue-1: $blue-1,
  blue-2: $blue-2,
  blue-3: $blue-3,
  blue-4: $blue-4,
  blue-5: $blue-5,

  night-1: $night-1,
  night-2: $night-2,
  night-3: $night-3,

  orange-1: $orange-1,
  orange-2: $orange-2,
  orange-3: $orange-3,

  green-1: $green-1,
  green-2: $green-2,
  green-3: $green-3,
  green-4: $green-4,
  green-5: $green-5,

  teal-1: $teal-1,
  teal-2: $teal-2,
  teal-3: $teal-3,
  teal-4: $teal-4,

  lilac-1: $lilac-1,
  lilac-2: $lilac-2,
  lilac-3: $lilac-3,
  lilac-4: $lilac-4,

  yellow-1: $yellow-1,
  yellow-2: $yellow-2,
  yellow-3: $yellow-3,
  yellow-4: $yellow-4,

  pink-1: $pink-1,
  pink-2: $pink-2,
  pink-3: $pink-3,
  pink-4: $pink-4,

  brown-1: $brown-1,
  brown-2: $brown-2,
  brown-3: $brown-3,

  indigo-1: $indigo-1,
  indigo-2: $indigo-2,
  indigo-3: $indigo-3,
  indigo-4: $indigo-4,

  danger: $danger,
  positive: $positive,
  neutral: $neutral,

  grey-1: $grey-1,
  grey-2: $grey-2,
  grey-3: $grey-3,
  grey-4: $grey-4,
  grey-5: $grey-5,
  grey-6: $grey-6,
  grey-7: $grey-7,

  lgrey-1: $lgrey-1,
  lgrey-2: $lgrey-2,
  lgrey-3: $lgrey-3,
  lgrey-4: $lgrey-4,
  lgrey-5: $lgrey-5,

  white: $white,
  black: $black,

  active-1: $active-1,
  active-2: $active-2,
  active-3: $active-3,

  minor-1: $minor-1,
  minor-2: $minor-2,
  minor-3: $minor-3,

  major-1: $major-1,
  major-2: $major-2,
  major-3: $major-3,

  critical-1: $critical-1,
  critical-2: $critical-2,
  critical-3: $critical-3,

  warn-1: $warn-1,
  warn-2: $warn-2,
  warn-3: $warn-3,

  transparent: transparent,
  inherit: inherit
);