@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@include create-rules(
  (
    m-animation-transition: (
      transition: all .3s ease-in-out
    ),
    m-animation-slide-left: (
      animation-duration: .5s,
      animation-delay: 0,
      animation-timing-function: ease-out,
      animation-iteration-count: 1,
      animation-name: slide-in-from-left
    ),
    m-animation-slide-right: (
      animation-duration: .5s,
      animation-delay: 0,
      animation-timing-function: ease-out,
      animation-iteration-count: 1,
      animation-name: slide-in-from-right
    ),
    m-animation-slide-top: (
      animation-duration: .5s,
      animation-delay: 0,
      animation-timing-function: ease-out,
      animation-iteration-count: 1,
      animation-name: slide-in-from-top
    ),
    m-animation-slide-bottom: (
      animation-duration: .5s,
      animation-delay: 0,
      animation-timing-function: ease-out,
      animation-iteration-count: 1,
      animation-name: slide-in-from-bottom
    ),
    m-animation-fade: (
      animation-duration: .3s,
      animation-delay: 0,
      animation-timing-function: ease-out,
      animation-iteration-count: 1,
      animation-name: fade
    )
  )
);
