// Border color
@include generate-colors('m-border', 'border-color');
@include create-rules(
  (
    m-border-solid: (
      border-style: solid
    ),
    m-border-dashed: (
      border-style: dashed
    )
  )
);
