.project-card {
  @include rules('m-animation-fade');
  height: 400px;
  width: 400px;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-actions {
    justify-content: center;
  }
}
