// Text colors
@include generate-colors('m-color', 'color');
@include create-rules(
  (
    m-text-ellipsis: (
      white-space: nowrap,
      overflow: hidden,
      text-overflow: ellipsis
    )
  )
);

// Size
@each $key, $size in $font-sizes {
  @include create-rules((
    m-font-size-#{$key}: (font-size: $size)
  ));
}

// Weight
@each $key, $weight in $font-weights {
  @include create-rules((
    m-font-weight-#{$key}: (font-weight: $weight)
  ));
}
